/************************
      General Scope
************************/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
label {
  display: block;
  margin-bottom: 20px;
}
input, textarea{
  height: 40px;
  width: 95%;
  border: solid 1px $lightBlueBGColor;
  text-align: center;
}
input:focus:valid{
  outline: 2px solid $lightBlueBGColor !important;
}
input:invalid {
  outline: 2px solid red;
  color: red;
}
input:not(:focus):invalid {
  outline: 2px solid red;
  color: red;
}
input:focus {
  outline: 2px solid blue;
}
textarea{
  resize: none;
  padding-top: 27px;
}
.hide {
  display: none;
}
.center {
  text-align: center;
}
.button {
  background-color: $redBGColor;
  color: $whiteBGColor;
}
.submitDisabled{
  background-color: grey;
}
.btn{
  width: 96.5%;
}
.error {
  color: $redBGColor;
  padding-bottom: 10px;
}
.errorMsg{
  color: $redBGColor;
}
